In [7]:
import pandas as pd

def convertPeopleCell(cell):
    if (cell == "n.a."):
        return "sam walton"
    return cell

def convertPriceCell(cell):
    if (cell == "n.a."):
        return None
    return cell


df = pd.read_excel("E:\Programming\AI\ML\Codebasics Pandas\dataRead.xlsx", converters = {
    "people": convertPeopleCell,
    "price": convertPriceCell
})
df

  Tickers    eps  revenue  price       people
0  Google  27.82       87  845.0  larray page
1     WMT  -1.00      484   65.0   sam walton
2    TATA   5.60       -1    NaN   ratan tata

In [11]:
df.to_excel("new.xlsx", sheet_name="stocks", startrow=1, startcol=2, index=False)

In [17]:
import pandas as pd

employees = [
    ['Name', 'Age', 'Department', 'Salary'],
    ['Shah Sayem', 24, 'IT', 50000],
    ['Alal', 34, 'Sales', 60000],
    ['Shafkath', 45, 'HR', 65000],
    ['Ohi', 40, 'IT', 70000],
]

df_employee = pd.DataFrame(employees)

weather = {
    "Day": ["2024-06-01", "2024-06-02", "2024-06-03", "2024-06-04", "2024-06-05"],
    "Temperature": [22.77734553, 22.58245095, 26.68078354, 20.84912108, 22.44228565],
    "Humidity": [77.93585873, 78.23998996, 59.08023285, 61.59604643, 52.21073244],
    "Conditions": ["Cloudy", "Stormy", "Cloudy", "Stormy", "Sunny"]
}

df_weather = pd.DataFrame(weather)

with pd.ExcelWriter("employeesWeather.xlsx") as writer:
    df_employee.to_excel(writer, sheet_name="employee")    
    df_weather.to_excel(writer, sheet_name="weather")