In [4]:
import pandas as pd
df = pd.read_csv("E:\\Programming\\AI\\ML\\Tasks\\share.csv", skiprows=1)
df

  Tickers    eps  revenue          price       people
0  Google  27.82       87            845  larray page
1     WMT  -1.00      484             65         n.a.
2    TATA   5.60       -1  not available   ratan tata

header and skiprows do the same thing

In [5]:
df = pd.read_csv("E:\Programming\AI\ML\Indetechs Software Ltd Tasks\share.csv", header=1)
df

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\shahs_snohmej\AppData\Local\Temp\ipykernel_20040\2565023268.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("E:\Programming\AI\ML\Indetechs Software Ltd Tasks\share.csv", header=1)

FileNotFoundError: [Errno 2] No such file or directory: 'E:\\Programming\\AI\\ML\\Indetechs Software Ltd Tasks\\share.csv'

In [ ]:
df = pd.read_csv("E:\Programming\AI\ML\Indetechs Software Ltd Tasks\share.csv", header=None, names=["1st", "2nd", "3rd", "4th", "5th"])
df

          1st    2nd      3rd    4th          5th
0  Stock Data    NaN      NaN    NaN          NaN
1     Tickers    eps  revenue  price       people
2      Google  27.82       87    845  larray page
3         WMT   4.61      484     65         n.a.
4        TATA    5.6       -1   n.a.   ratan tata

In [ ]:
df = pd.read_csv("E:\Programming\AI\ML\Indetechs Software Ltd Tasks\share.csv", skiprows=1, nrows=2)
df

  Tickers    eps  revenue  price       people
0  Google  27.82       87    845  larray page
1     WMT   4.61      484     65         n.a.

In [ ]:
df = pd.read_csv("E:\Programming\AI\ML\Indetechs Software Ltd Tasks\share.csv", skiprows=1, na_values=["not available", "n.a."])
df

  Tickers    eps  revenue  price       people
0  Google  27.82       87  845.0  larray page
1     WMT   4.61      484   65.0          NaN
2    TATA   5.60       -1    NaN   ratan tata

In [ ]:
df = pd.read_csv("E:\Programming\AI\ML\Indetechs Software Ltd Tasks\share.csv", skiprows=1, na_values={
    "eps": ["not available", "n.a."],
    "revenue"    : ["not available", "n.a.", -1],
    "people": ["not available", "n.a."]
    })
df

  Tickers    eps  revenue          price       people
0  Google  27.82     87.0            845  larray page
1     WMT  -1.00    484.0             65          NaN
2    TATA   5.60      NaN  not available   ratan tata

Writing in csv file:

In [ ]:
df.to_csv("new.csv")

In [ ]:
df.to_csv("new2.csv", index=False)

In [ ]:
df.columns

Index(['Tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [ ]:
df.to_csv("new.csv", index=False, columns= ['Tickers', 'eps', 'revenue'])

In [ ]:
df.to_csv("new3.csv", index=False, header=False)