DataFram from excel, csv, Dictionary, List are in previous code file

In [4]:
import pandas as pd
weather = [
    ("1-6-2024", 32, 6, "Rain"),
    ("1-4-2024", 35, 7, "Sunny"),
    ("1-1-2024", 28, 2, "Snow")
]

df = pd.DataFrame(weather, columns=["Day", "Temperature", "Windspeed", "Event"])
df

        Day  Temperature  Windspeed  Event
0  1-6-2024           32          6   Rain
1  1-4-2024           35          7  Sunny
2  1-1-2024           28          2   Snow

In [5]:
weather = [
    {"Day": "1-6-2024", "Temperature": 32, "Windspeed": 6, "Event": "Rain"},
    {"Day": "1-4-2024", "Temperature": 35, "Windspeed": 7, "Event": "Sunny"},
    {"Day": "1-1-2024", "Temperature": 28, "Windspeed": 2, "Event": "Snow"}
]

df = pd.DataFrame(weather)
df

        Day  Temperature  Windspeed  Event
0  1-6-2024           32          6   Rain
1  1-4-2024           35          7  Sunny
2  1-1-2024           28          2   Snow